exex.json
[{"startData":"1","resultData":"2","executionData":"3"},{},{"runData":"4","lastNodeExecuted":"5","error":"6"},{"contextData":"7","nodeExecutionStack":"8","waitingExecution":"9"},{"Webhook":"10","Gmail":"11"},"Gmail",{"level":"12","tags":"13","context":"14","functionality":"15","name":"16","timestamp":1718099704626,"node":"17","messages":"18","message":"19","stack":"20"},{},["21"],{},["22"],["23"],"error",{"reWrapped":true},{"itemIndex":0},"regular","NodeOperationError",{"parameters":"24","id":"25","name":"5","type":"26","typeVersion":2.1,"position":"27","credentials":"28"},["29"],"Precondition check failed. (item 0)","NodeOperationError: Precondition check failed. (item 0)\n    at Object.execute (/usr/local/lib/node_modules/n8n/node_modules/n8n-nodes-base/dist/nodes/Google/Gmail/v2/GmailV2.node.js:549:23)\n    at processTicksAndRejections (node:internal/process/task_queues:95:5)\n    at Workflow.runNode (/usr/local/lib/node_modules/n8n/node_modules/n8n-workflow/dist/Workflow.js:728:19)\n    at /usr/local/lib/node_modules/n8n/node_modules/n8n-core/dist/WorkflowExecute.js:664:51\n    at /usr/local/lib/node_modules/n8n/node_modules/n8n-core/dist/WorkflowExecute.js:1079:20",{"node":"30","data":"31","source":"32"},{"hints":"33","startTime":1718099703428,"executionTime":1,"source":"34","executionStatus":"35","data":"36"},{"hints":"37","startTime":1718099703433,"executionTime":1194,"source":"38","executionStatus":"12","error":"39"},{"authentication":"40","resource":"41","operation":"42","sendTo":"43","subject":"44","emailType":"45","message":"46","options":"47"},"a406a245-8ac3-48ae-ba53-570a76f54590","n8n-nodes-base.gmail",[560,300],{"googleApi":"48"},"Bad request - please check your parameters",{"parameters":"49","id":"25","name":"5","type":"26","typeVersion":2.1,"position":"50","credentials":"51"},{"main":"52"},{"main":"38"},[],[],"success",{"main":"53"},[],["54"],{"level":"12","tags":"13","context":"14","functionality":"15","name":"16","timestamp":1718099704626,"node":"17","messages":"18","message":"19","stack":"20"},"serviceAccount","message","send","i@marabidis.ru","=Заказ #{{ $json[\"body\"][\"orderNumber\"] }}","text","=Новый заказ:\nТелефон: {{ $json[\"body\"][\"phone\"] }}\nДата: {{ $json[\"body\"][\"order_date\"] }}\nАдрес: {{ $json[\"body\"][\"shipping_address\"] }}\nСумма: {{ $json[\"body\"][\"total_price\"] }}\nСпособ оплаты: {{ $json[\"body\"][\"payment_method\"] }}\nДетали: {{ $json[\"body\"][\"details\"] }}",{},{"id":"55","name":"56"},{"authentication":"40","resource":"41","operation":"42","sendTo":"43","subject":"44","emailType":"45","message":"46","options":"57"},[560,300],{"googleApi":"58"},["59"],["60"],{"previousNode":"61"},"b9yeAGCoyKjfgAxf","Gmail account",{},{"id":"55","name":"56"},["62"],["63"],"Webhook",{"json":"64","pairedItem":"65"},{"json":"64","pairedItem":"66"},{"headers":"67","params":"68","query":"69","body":"70","webhookUrl":"71","executionMode":"72"},{"item":0},{"item":0},{"accept":"73","content-type":"74","user-agent":"75","content-length":"76","accept-encoding":"77","host":"78","connection":"79"},{},{},{"id":89,"total_price":1400,"phone":"80","payment_method":"81","shipping_address":"82","details":"83","orderNumber":245,"createdAt":"84","updatedAt":"84","publishedAt":null,"order_date":"85","createdBy":"86","updatedBy":"87"},"http://localhost:5678/webhook/f591a3fc-fc8a-4e08-867f-6bc0e31adf70","production","application/json, text/plain, */*","application/json","axios/1.5.0","1049","gzip, compress, deflate, br","n8n:5678","close","+7 (222) 222-22-22","Наличными","reee","test reeee","2024-06-11T09:55:01.374Z","2024-06-12T05:15:00.000Z",{"id":1,"firstname":"88","lastname":"89","username":"43","email":"43","password":"90","resetPasswordToken":null,"registrationToken":null,"isActive":true,"blocked":false,"preferedLanguage":"91","createdAt":"92","updatedAt":"93"},{"id":1,"firstname":"88","lastname":"89","username":"43","email":"43","password":"90","resetPasswordToken":null,"registrationToken":null,"isActive":true,"blocked":false,"preferedLanguage":"91","createdAt":"92","updatedAt":"93"},"Alex","Marabidis","$2a$10$C69klW5obpDcrFZ9kJqxQ.g1JpoQs4N/bxZC31HJ8daBe7n9dEJnq","ru","2023-09-22T11:38:19.421Z","2023-10-02T15:51:00.139Z"]